<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">GET /projects</h4>
    <p class="list-group-item-text">Gets the projects for the session user.</p>
  </a>
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">GET /projects/:project.id</h4>
    <p class="list-group-item-text">Gets the project details for the specified project.</p>
  </a>
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">PUT/PATCH /projects/:project.id</h4>
    <p class="list-group-item-text">Update the details for the specified project.</p>
  </a>
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">POST /projects</h4>
    <p class="list-group-item-text">Create a new project for the session user.</p>
  </a>
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">DELTE /projects/project.id</h4>
    <p class="list-group-item-text">Delete the specified project.</p>
  </a>
</div>