<div id="projects" class=" grid">
  <div class="grid-sizer"></div>
  <%= render @projects %>
</div>
<script type="text/javascript">
/*
  var $grid = $('.grid').imagesLoaded( function() {
  // init Masonry after all images have loaded
    $grid.masonry({
      itemSelector: '.grid-item',
      columnWidth: 200
    });
  });*/

  $(document).on('page:load ready', function () {
    var $grid = $('.grid').imagesLoaded(function() {
      $grid.masonry({
        itemSelector: '.grid-item',
        columnWidth: 300,
        gutterWidth: 30,
      }); 
    });


  $('.js-rename').on('click', function(){
    var self = this;
    $(self).toggle();
    var target = $(this).siblings('.projectname')
    var value = target.text();
    var inputEl = $("<input type='text' />");
    $(inputEl).val(value);
    target.after(inputEl).remove();
    $('.project input').on('blur', function(){
      var projectId = $(this).closest('.project').attr('projectid');
      console.log(projectId)
      target.text(this.value)
      $(this).after(target).remove();
      $(self).toggle();
      
      var obj = {project: { name: this.value}};
      var data = JSON.stringify(obj);
      $.ajax({
        url: 'projects/' + projectId + '.json',
        method: 'PATCH',
        data: data,
        contentType: 'application/json',
        success: function(resp){
          //console.log(resp);
          //Don't need to do anythin because the name is already changes
        },
        error: function(err){
          console.log(err);
          //If it fails, rerender so the filename is back to what it was before
          $('#project').html('<div class="grid-sizer"></div> <%= j (render @projects) %>')
        }
      })
    })
  })
})
</script>