
@import "bootstrap-sprockets";
// Import darkly variables
@import "bootswatch/yeti/variables";

$body-bg: #1b232c;


@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { 
  padding-top: 80px; 
}

.login-form {
    background-color: white;

    form {
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
}
// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    position: absolute
}

.grid {
  max-width: 1500px;
  min-width: 350px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-item {
  width: 300px;
  margin-bottom: 10px;
  float: left;
}

#uploader {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.projectname {
    line-height: 40px; 
    vertical-align:middle;
    font-weight: bold;
}

hr {
    width: 100%;
    position: relative;
    top: 10px
}

#content .row {
    position: relative;
    padding-top: 20px;
}

#content {
    position: absolute;
    top: 50px;
    bottom: 20px;
    width: 100%;
}

#header, #footer, #content { 
    position: absolute; 
    left: 0; 
    width: 100%; 
}

#footer {
    height: 20px;
    bottom: 0px;
    border-top: 1px solid white;
    color: white;
}

.navbar .glyphicon {
  font-size: 20pt;
  vertical-align: middle;
}

.navbar-nav a {
  text-align: center;
  font-size: 14pt;
  line-height: 15px; 
}

.row .glyphicon {
  font-size: 16pt;
  vertical-align: middle;
}

.navbar-collapse {
  vertical-align: middle;
  font-size: 20pt;
}

body {
 padding-top: 80px;
 background-color: #1b232c;
}

.nav-item {
 margin-left: 25px;
 float: left;
 margin-top: 20px;
}

.center {
 text-align: center;
}
h1, h2, h3, h4 {
 line-height: 1;
}
h1 {
 font-size: 3em;
 letter-spacing: -2px;
 margin-bottom: 30px;
 text-align: center;
}
h2 {
 font-size: 1.2em;
 margin-bottom: 30px;
 text-align: center;
 font-weight: normal;
 color: #777;
}
.left {
 text-align: left;
 letter-spacing: .5px;
}


body .avpw_is_embed #avpw_controls {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body .avpw {
    /* border:0px solid #364659; */
    /* background:#364659; */
}

body .avpw {
    -webkit-border-radius:0px; 
    -moz-border-radius: 0px;
    border-radius:0px;
    overflow: hidden;
}

body #avpw_tool_content_header {
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 0px 0 0 rgba(87, 90, 99, 0.66) inset;
    -moz-box-shadow: 0 0px 0 0 rgba(87, 90, 99, 0.66) inset;
    box-shadow: 0 0px 0 0 rgba(87, 90, 99, 0.66) inset;
    background-color: #303740;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#343b45), to(#303740));
    background-image: -moz-linear-gradient(top, #343b45, #303740);
    background-image: -ms-linear-gradient(top, #343b45, #303740);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #343b45), color-stop(100%, #303740));
    background-image: -webkit-linear-gradient(top, #343b45, #303740);
    background-image: -o-linear-gradient(top, #343b45, #303740);
    background-image: linear-gradient(top, #343b45, #303740);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343b45', endColorstr='#303740', GradientType=0);
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0px;
}

body .avpw_is_embed .avpw {
    -webkit-box-shadow: inset 0 0px 0px rgba(61,61,61,0.5);
    -moz-box-shadow: inset 0 0px 0px rgba(61,61,61,0.5);
    box-shadow: inset 0 0px 0px rgba(61,61,61,0.5);
}

body #avpw_footer {
    background-color: #20252a;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#272d34), to(#20252a));
    background-image: -moz-linear-gradient(top, #272d34, #20252a);
    background-image: -ms-linear-gradient(top, #272d34, #20252a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #272d34), color-stop(100%, #20252a));
    background-image: -webkit-linear-gradient(top, #272d34, #20252a);
    background-image: -o-linear-gradient(top, #272d34, #20252a);
    background-image: linear-gradient(top, #272d34, #20252a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272d34', endColorstr='#20252a', GradientType=0);
    -webkit-box-shadow: 0 0px 0 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 0px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 0px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}
