<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Menu</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="/">My Image Editor</a>
    </div> <!-- end div class="navbar-header" -->
    <div class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav">
        <li><a href="/projects/new">Editor <span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="/projects">Projects <span class="glyphicon glyphicon-picture"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_up">Sign In <span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
    </div> <!-- end div class="collapse navbar-collapse" -->
  </div> <!-- end div class="container" -->
</div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->